@tailwind base;
@tailwind components;
@tailwind utilities;

.bgcolor {
  background-color: #141e46;
}

/* Example CSS */
.dark-mode {
  background-color: black;
}

/* CSS for the light mode */
.light-mode {
  background: linear-gradient(to right, #4299e1, #6cb2eb);
  background-color: rgba(255, 255, 255, 0.25);
}
